#ImWindowContainer {
  position: absolute;
  display: flex;
  width: 100%;
  top: 0px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 9;
}
#ImContentContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  z-index: 7;
}
#ImWindowContainer::-webkit-scrollbar {
  width: 0 !important;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fade-in-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

body {
  background: url("./bg.webp");
  background-size: cover;
  background-position: -480px;
}
#FunctionCard {
  width: 390px;
  border-radius: 0px;
  height: 480px;
  position: relative;
  top: 0px;
  padding: 20px 15px 15px;
  align-self: center;
  justify-self: center;
  background: rgb(10 2 21 / 60%);
  backdrop-filter: blur(6px);
}
#FloatCard {
  width: 390px;
  height: 61px;
  position: relative;
  border-radius: 0px;
  justify-self: center;
  z-index: 20;
  top: 0px;
  background: rgb(10 2 21 / 85%);
  backdrop-filter: blur(6px);
}
#CryptControl {
  display: grid;
  width: 219px;
  grid-template-columns: 30% 30% 30% 30% 30% 30%;
  scale: 0.9;
  column-gap: 2px;
  margin-top: -5px;
  align-content: center;
}
#PositionOccupie {
  display: none;
}

mdui-text-field::part(label) {
  background-color: transparent;
}

mdui-text-field::part(input) {
  scrollbar-width: none;
  line-break: anywhere;
}
